body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

thead {
	background-color: #E6E6FA;
}

.navbar {
/* 	background: #3B5998 !important; */
	color: #ffffff !important;
	
}

/* tab button start */

.ui-tabs .ui-tabs-hide { display: none !important; }
a.mover { text-decoration: none; color: #fff; position: absolute;}
.next-process-step { top: 40px; right: 0;}
.previous-process-step { top: 40px; left: 0;}

/* tab button end */



.loading-div {
  min-width: 130px;
  position: fixed;
  background: #FFC;
  border-radius: 2px;
  top: 5px;
  z-index: 1031;
  left: 550px;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  text-align: center;
}
.loading-div span {
  display: block;
  padding: 6px 20px 0px 20px;
}

#account {
  margin: 15px 5px 0 0;
}
#account a.dropdown-toggle {
  margin-top: -5px;
  padding: 0px 0px 10px;
}


.navbar .brand-name {
  color: #ffffff;
  font-size: 21px;
  line-height: 1;
  margin-left: 40px !important;
  margin-right: 70px !important;
  padding-left: 0;
}

.navbar {
	font-weight: bold !important;
}

.row-left {
  margin-left: -25px;
}

#leftpanel {
  background: #F8F8F8;
  /* Old browsers */


  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@leftpanelBaseColor', endColorstr='@leftpanelBaseColor1', GradientType=1);
  /* IE6-9 */

  margin-left: 0;
/*   padding: 11px 0 0 22px; */
  border-right: 1px solid #D5D5D5;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-radius: 0;
  left: 0;
  float: none;
  min-height: 100%;
  position: fixed;
/*   top: 40px; */
}

#centerpanel{
	
/* 	margin-right: 0; */
/*   padding: 11px 0 0 22px; */
/*   border-right: 1px solid #D5D5D5; */
/*   border-top: 0; */
/*   border-bottom: 0; */
/*   border-left: 0; */
/*   border-radius: 0; */
/*   margin-left:300px !important; */
/*   right:0px; */
/*   float: none; */
/*   min-height: 100%; */
	margin-left: 300px;
	width:1030px;
  position: relative;
}

.title-listing{
	font-weight: bold;
}

.required{
	color: red;
}

/*create task begin*/

.nav-list-sidebar{
	font-weight: bold !important;
	font-size: 14px !important;
}

.table-borderless td,
.table-borderless th{ 
    border: 0 !important;
}

/*create task end*/

/*design form begin*/

#design-form-tabs .ui-tabs-nav li {
/* 	margin-top: 0.6em; */
	font-size: 22px;
	opacity: .4;
}

#design-form-tabs .ui-tabs-nav li.ui-tabs-selected {
/* 	margin-top: 0em; */
/* 	font-size: 125%; */
	opacity: 1;
}

#design-form-tabs {
	padding: 0;
	background: none;
	border-width: 0;
	
}


#design-form-tabs .ui-widget-header {
	background: transparent;
	border: none;
	border-bottom: 1px solid #c0c0c0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

#design-form-tabs .ui-tabs-nav {
	padding-left: 0px;
	background: transparent;
	border-width: 0px 0px 1px 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	
}
#design-form-tabs .ui-tabs-panel {
	background: #F8F8F8;
	border-width: 0px 1px 1px 1px;
}

#design-form-tabs .ui-tabs-nav {
	height: 2.9em;
	text-align: center;
}

#design-form-tabs .ui-state-active {
    background: #FFFAFA;
}

#design-form-tabs .ui-tabs-nav li {
	display: inline-block;
	float: none;
	margin: 0em;
}

#design-form-tabs .ui-tabs-nav .ui-icon {
	display: inline-block;
}

/*design form end*/

/*workflow start*/
 .orgChartClass{
        background-color: #fff;
		font-weight: bold;
        border: 1px solid black;
        z-index:4;  color:black;
      border-radius:1em;
        box-shadow: 1px 1px 19px #e0e0e0;
   -o-box-shadow: 1px 1px 19px #e0e0e0;
   -webkit-box-shadow: 1px 1px 19px #e0e0e0;
   -moz-box-shadow: 1px 1px 19px #e0e0e0;
-moz-border-radius:0.5em;
opacity:1;
filter:alpha(opacity=100);
cursor:pointer;
      }

/*workflow end*/
